ion-content {
    .comprar {
        width: 130px;
        background: #ffb100;
        padding: 0px 10px;
        border-radius: 4px;
        margin: 10px auto;
        img {
            width: 48px;
            display: inline-block;
            vertical-align: middle;
        }
        span {
            color: #63228a;
            font-weight: bold;
            display: inline-block;
            vertical-align: middle;
        }
    }
}