<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
			<ion-icon name="paw"></ion-icon>
		</button>
        <ion-title>{{name}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-grid class="ui-runcanrol">
        <ion-row>
            <ion-col col-12 *ngFor="let product of products">
                <ion-card>
                    <ion-item>
                        <h3>{{product.nombre}}</h3>
                        <p>{{product.descripcion}}</p>
                    </ion-item>
                    <ion-card-content>
                        <img [src]="getImage(product.producto_id)" alt="producto">
                        <p>Precio: ${{product.precio}}</p>
                        <p>Disponible: {{product.disponible}}</p>
                        <div class="comprar" (click)="goPayPal(product.precio, product.nombre)">
                            <img src="assets/img/paypal.png" alt="paypal"><span> Comprar</span>
                        </div>
                    </ion-card-content>
                </ion-card>
            </ion-col>
            <ion-col col-12 *ngIf="products && !products.length">
                <h4>Aún no hay productos disponibles</h4>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>