<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
			<ion-icon name="paw"></ion-icon>
		</button>
        <ion-title>Areas</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-item class="green-filter">
        <ion-label>Tipo</ion-label>
        <ion-select [(ngModel)]="tipo" (ionChange)="onChange()" okText="Aceptar" cancelText="Cerrar">
            <ion-option value="todas" [selected]="true">Todas</ion-option>
            <ion-option *ngFor="let tipo of tipos" [value]="tipo.nombre">{{tipo.nombre}}</ion-option>
        </ion-select>
    </ion-item>
    <ion-card class="green" *ngFor="let area of areas">
        <ion-card-content>
            <h2>{{area.nombre}}</h2>
            <hr>
            <p>{{area.descripcion}}</p>
            <div class="area-block">
                <div class="card-info" *ngIf="area.horario && area.horario.length" (click)="goToMap(sitio.nombre, sitio.coordenadas)">
                    <div class="card-icon">
                        <img src="assets/img/hour.png" alt="dirección">
                    </div>
                    <div class="card-text">
                        <p> {{area.horario}}</p>
                    </div>
                </div>
                <a (click)="goToMap(area.area_id)">
                    <img class="more" src="assets/img/mas.png" alt="ver más">
                </a>
            </div>


            <h3 class="area-types">{{area.tipo}}</h3>
        </ion-card-content>
    </ion-card>
</ion-content>