<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
			<ion-icon name="paw"></ion-icon>
		</button>
        <ion-title>Areas</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-item>
        <ion-label>Tipo</ion-label>
        <ion-select [(ngModel)]="tipo" (ionChange)="onChange()">
            <ion-option value="todas" [selected]="true">Todas</ion-option>
            <ion-option *ngFor="let tipo of tipos" [value]="tipo.nombre">{{tipo.nombre}}</ion-option>
        </ion-select>
    </ion-item>
    <ion-card *ngFor="let area of areas">
        <ion-item>
            <h1>{{area.nombre}}</h1>
            <p>{{area.descripcion}}</p>
        </ion-item>
        <ion-card-content>
            <p>{{area.tipo}}</p>
            <p>
                <ion-icon name="clock"></ion-icon> {{area.horario}}
            </p>

            <a (click)="goToMap(area.area_id)">
                <ion-icon name="paw"></ion-icon>
                Ver más
            </a>
        </ion-card-content>
    </ion-card>
</ion-content>