.green.card-md,
.green.card-ios {
    background: url(assets/img/green.png);
    background-position-y: -22px;
    padding: 8px;
}

.green-filter {
    background-color: #7fc51f;
}

.area-block {
    background: #3f6d00;
    padding: 12px 0px 1px 0px;
}

.area-types {
    background: #3f6d00;
    padding: 15px 0;
    text-align: center;
    font-size: 1.2em;
}

.area-icon img,
{
    width: 22px
}

.more {
    margin-left: 4px;
    margin-bottom: 14px;
    width: 110px;
}