<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
        <ion-title>Casa</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="getting-started">
    <div class="home-hello">
        <div class="slide-section">
            <ion-slides autoplay="7000" loop="true" speed="3000" effect="fade">
                <ion-slide *ngFor="let slide of slides">
                    <img src="{{slide.image}}" />
                </ion-slide>
            </ion-slides>
            <div class="hello-title" text-wrap>
                <strong>2da Edición - </strong>Monterrey, NL. México
            </div>
        </div>
    </div>

    <ion-row *ngFor="let tilePair of tiles">
        <ion-col col-6 *ngFor="let tile of tilePair">
            <ion-card class="tile" (click)="navigateTo(tile)">
                <ion-card-content>
                    <ion-item class="no-wrap">
                        <img src="../../assets/img/{{tile.icon}}" alt="tile.icon">
                    </ion-item>
                </ion-card-content>
            </ion-card>
        </ion-col>
    </ion-row>

</ion-content>