<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
			<ion-icon name="paw"></ion-icon>
		</button>
        <ion-title>Cuidados</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-item class="filter">
        <ion-label>Zona</ion-label>
        <ion-select [(ngModel)]="zona" (ionChange)="onChange()" okText="Aceptar" cancelText="Cerrar">
            <ion-option value="todas" [selected]="true">Todas</ion-option>
            <ion-option *ngFor="let zona of zonas" [value]="zona.nombre">{{zona.nombre}}</ion-option>
        </ion-select>
    </ion-item>
    <ion-card *ngFor="let sitio of sitios">
        <ion-item>
            <h2>{{sitio.nombre}}</h2>
            <p>{{sitio.descripcion}}</p>
        </ion-item>
        <ion-card-content>
            <ion-grid class="ui-runcanrol">
                <ion-row>
                    <ion-col col-12>
                        <p>Generales</p>
                        <hr>
                        <div class="card-info" (click)="goToMap(sitio.nombre, sitio.coordenadas)">
                            <div class="card-icon">
                                <img src="assets/img/address.png" alt="dirección">
                            </div>
                            <div class="card-text">
                                <p> {{sitio.domicilio}}</p>
                            </div>
                        </div>

                        <div class="card-info" *ngIf="sitio.contacto && sitio.contacto">
                            <div class="card-icon">
                                <img class="icon-phone" src="assets/img/mail.png" alt="email">
                            </div>
                            <div class="card-text">
                                <p>{{sitio.contacto}}</p>
                            </div>
                        </div>

                        <div class="card-info" *ngIf="sitio.telefono && sitio.telefono">
                            <div class="card-icon">
                                <img class="icon-phone" src="assets/img/phone.png" alt="teléfono">
                            </div>
                            <div class="card-text">
                                <p>{{sitio.telefono}}</p>
                                <p>{{sitio.celular}}</p>
                            </div>
                        </div>

                    </ion-col>
                    <ion-col col-12>
                        <div class="card-info">
                            <p>Enlaces</p>
                            <hr>
                            <img class="site-link" src="assets/img/cloud.png" *ngIf="sitio.web && sitio.web.length" (click)="launch(sitio.web)" />
                            <img class="site-link" src="assets/img/facebook.png" *ngIf="sitio.facebook && sitio.facebook.length" (click)="launch(sitio.facebook)" />
                            <img class="site-link" src="assets/img/youtube.png" *ngIf="sitio.youtube && sitio.youtube.length" (click)="launch(sitio.youtube)" />
                        </div>
                    </ion-col>
                    <ion-col col-12>
                        <p>Zona</p>
                        <hr>
                        <p>{{sitio.zona}}</p>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-content>
    </ion-card>
    <h4 *ngIf="!sitos || !sitios.length">Aún no hay sitios disponibles</h4>
</ion-content>