.blue {
    background: url(assets/img/blue.png);
    background-position-y: -32px;
    padding: 0 8px;
}

ion-content {
    ion-card {
        .store-logo-placeholder {
            img {
                margin: 0 auto;
                width: 128px;
            }
        }
        .item-md p {
            color: #fff;
        }
    }
}

.item-select-disabled ion-label {
    opacity: 1;
}

.ver-productos {
    width: 158px;
    margin: 6px auto;
}