<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
			<ion-icon name="paw"></ion-icon>
		</button>
        <ion-title>Clubes & Fundaciones</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-item class="filter">
        <ion-label>Zona</ion-label>
        <ion-select [(ngModel)]="zona" (ionChange)="onChange()" okText="Aceptar" cancelText="Cerrar">
            <ion-option value="todas" [selected]="true">Todas</ion-option>
            <ion-option *ngFor="let zona of zonas" [value]="zona.nombre">{{zona.nombre}}</ion-option>
        </ion-select>
    </ion-item>
    <ion-card *ngFor="let club of clubs">
        <ion-item>
            <h1>{{club.nombre}}</h1>
            <p>{{club.descripcion}}</p>
        </ion-item>
        <ion-card-content>
            <ion-grid class="ui-runcanrol">
                <ion-row>
                    <ion-col col-12>
                        <p>
                            <ion-icon name="pin"></ion-icon> {{club.domicilio}}
                        </p>
                        <p>
                            <ion-icon name="phone-portrait"></ion-icon> {{club.telefono}} / {{club.celular}}
                        </p>
                        <p>
                    </ion-col>
                    <ion-col col-6>
                        <p class="special">Web</p>
                        <img class="site-link" src="assets/img/cloud.png" *ngIf="club.web && club.web.length" (click)="launch(club.web)" />
                    </ion-col>
                    <ion-col col-6>
                        <p class="special">Contacto</p>
                        <p class="tiny"> {{club.contacto}}</p>
                    </ion-col>
                    <ion-col col-6>
                        <p class="special">Social</p>
                        <img class="site-link" src="assets/img/facebook.png" *ngIf="club.facebook && club.facebook.length" (click)="launch(club.facebook)" />
                        <img class="site-link" src="assets/img/youtube.png" *ngIf="club.youtube && club.youtube.length" (click)="launch(club.youtube)" />
                    </ion-col>
                    <ion-col col-6>
                        <p class="special">Zona</p>
                        <p class="tiny"> {{club.zona}}</p>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-content>
    </ion-card>
</ion-content>