.yellow.card-md,
.yellow.card-ios {
    background: url(assets/img/yellow.png);
    background-position-y: -8px;
}

.yellow .item-md,
.yellow .item-ios,
.yellow-filter {
    background-color: #e88105;
}