<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
			<ion-icon name="paw"></ion-icon>
		</button>
        <ion-title>Promociones</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-item class="purple-filter">
        <ion-label>Sitio</ion-label>
        <ion-select [(ngModel)]="sitio" (ionChange)="onChange()" okText="Aceptar" cancelText="Cerrar">
            <ion-option value="todos" [selected]="true">Todos</ion-option>
            <ion-option *ngFor="let sitio of sitios" [value]="sitio.sitio_id">{{sitio.nombre}}</ion-option>
        </ion-select>
    </ion-item>
    <ion-card class="purple" *ngFor="let promocion of promociones">
        <ion-card-content class="with-padding">
            <h2>{{promocion.nombre}}</h2>
            <hr />
            <p>{{promocion.descripcion}}</p>
            <div class="card-info" *ngIf="promocion.horario && promocion.horario.length">
                <div class="card-icon">
                    <img src="assets/img/hour.png" alt="dirección">
                </div>
                <div class="card-text">
                    <p> {{promocion.horario}}</p>
                </div>
            </div>
        </ion-card-content>
    </ion-card>
    <h4 *ngIf="!promociones || !promociones.length">Aún no hay promociones disponibles</h4>
</ion-content>